html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'Outfit';
    src: url('./font/Outfit/Outfit-VariableFont_wght.ttf');
}

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: lightblue;
    --wrapper-background-color: #f2f3f4;
    --text-color: #020035;
    --submit-btn-background-color: lightcoral;
    --link-color: orange;
}

input {
    padding: 0.5rem 1.2rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: var(--link-color);

}

body {
    font-family: 'Outfit';
    font-size: 1.5rem;
    line-height: 1.2;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}

#app {
    margin: auto;
    padding: 0 2.0rem;
    max-width: 90.5rem;
}

.page-link--wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.page-log {
    color: gray;
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 500;
}

.navigation-menu,
li {
    background-color: var(--wrapper-background-color);
}

.navigation-menu {
    margin-bottom: 2.8rem;
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    gap: 2.0rem;
    align-items: center;
    flex-wrap: wrap;
}

button {
    font-size: 1.7rem;
    background-color: var(--submit-btn-background-color);
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    color: var(--wrapper-background-color);
}

.link-list {
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

li {
    padding: 1.2rem;
    cursor: pointer;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

a {
    font-size: 1.4rem;
    transition: all 250ms;
}

a:hover {
    color: magenta;
}

.author-details {
    font-size: 1.3rem;
}

.link-details {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.5rem;
}

input:focus {
    color: var(--link-color);
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}